.usersList {
  margin-top: 50px;
}

.usersList ul {
  list-style: none;
}

.usersList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 10px;
}
